In [3]:
import pandas as pd
print(pd.__version__)

2.2.2

In [7]:
data=[12,2,3,4,5]
series=pd.Series(data)
print(type(series))

<class 'pandas.core.series.Series'>

In [9]:
# create series from dictories
dis={'a':1,'b':2,'c':3}
series_dis=pd.Series(dis)
print(series_dis)

a    1
b    2
c    3
dtype: int64

In [10]:
data=[10,20,30]
index=['a','b','c']
pd.Series(data,index=index)

a    10
b    20
c    30
dtype: int64

In [12]:
#dataframes
data={
    "Name":["krunal","John","Jack"],
    "Age":[25,30,35],
    "City":["Nagpur","Mumbai","Pune"]
    
}
df=pd.DataFrame(data)
print(df)
print(type(df))

     Name  Age    City
0  krunal   25  Nagpur
1    John   30  Mumbai
2    Jack   35    Pune
<class 'pandas.core.frame.DataFrame'>

In [14]:
#create dataframe from dictories
data=[
    {"Name":"krunal","Age":35,"City":"Nagpur"},
    {"Name":"John","Age":25,"City":"Mumbai"},
    {"Name":"Jack","Age":15,"City":"Pune"}, 
]
df=pd.DataFrame(data)
print(df)

     Name  Age    City
0  krunal   35  Nagpur
1    John   25  Mumbai
2    Jack   15    Pune

In [20]:
df=pd.read_csv('sales.csv')
df.head(5)
df.tail(5)

df['Product']

0           Headphones
1              T-Shirt
2            Microwave
3            Microwave
4      Washing Machine
            ...
995    Washing Machine
996         Headphones
997          Microwave
998              Shoes
999         Smartphone
Name: Product, Length: 1000, dtype: object

In [24]:
df=pd.read_csv('sales.csv')
df.loc[0]

OrderID                 1001
Date              2025-01-07
CustomerID              C436
Product           Headphones
Category         Electronics
Quantity                   5
Price                   1500
Total                   7500
PaymentMethod    Credit Card
Country               Canada
Name: 0, dtype: object

In [34]:
data=[
    {"Name":"krunal","Age":35,"City":"Nagpur"},
    {"Name":"John","Age":25,"City":"Mumbai"},
    {"Name":"Jack","Age":15,"City":"Pune"}, 
]
df=pd.DataFrame(data)
df['Salary']=[1,2,3]
df.drop('Salary',axis=1,inplace=True)
print(df)

     Name  Age    City
0  krunal   35  Nagpur
1    John   25  Mumbai
2    Jack   15    Pune